%html
  %head
    %title Flight Reminder
    %script{ type: 'text/javascript', src: 'js/jquery-2.1.1.min.js' }
    %script{ type: 'text/javascript', src: 'js/jquery-ui.min.js' }
    %script{ type: 'text/javascript', src: 'js/jquery-ui-timepicker.js' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'stylesheets/jquery-ui.theme.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'stylesheets/jquery-ui.structure.css' }

    :javascript
      $(document).ready( function() {
        $('#datepicker').datepicker()
        $('#timepicker').timepicker();
      });

  %body
    - if flash[:notice]
      %p{class: 'alert alert-success'}= flash[:notice]
    - if flash[:error]
      %p{class: 'alert alert-error'}= flash[:error]

    = yield

