%html
  %head
    %title Flight Reminder
    %link{ rel: 'stylesheet', type: 'text/css', href: 'js/jquery-ui.min.css ' }
    %script{ type: 'text/javascript', src: 'js/jquery-2.1.1.min.js' }
    %script{ type: 'text/javascript', src: 'js/jquery-ui.min.js' }

    :javascript
      $(document).ready( function() {
        $.datepicker.setDefaults(
          $.extend($.datepicker.regional[''])
        );
        $('#datepicker').datepicker();
      });

  %body
    - if flash[:notice]
      %p{class: 'alert alert-success'}= flash[:notice]
    - if flash[:error]
      %p{class: 'alert alert-error'}= flash[:error]

    = yield

